// C O L O R S
$white: #ffffff;
$white-1: #f8f8f8;
$white-2: #ececec;
$Lgray: #5f676f;

$black-0: #000;
$black: #313131;
$black-1: #181818;
$black-footer: #1a1e21;

$green: #8fb81e;

$pink: #e0bfc6;
$a-accent: #dc3545;
$a-error: #c2185b;

// T R A N S I T I O N S
$transition: .5s cubic-bezier(0.4, 0, 0.2, 1);
$transition-2: .3s cubic-bezier(0.4, 0, 0.2, 1);
$transition-slider: .3s cubic-bezier(0.4, 0, 0.2, 1);
$motion: 
    2s cubic-bezier(0.075, 0.82, 0.165, 1) opacity,
    2s cubic-bezier(0.075, 0.82, 0.165, 1) transform;

// O T H E R S
$navbar-height: 114px; // size from unvisible space ,because theres fixed navbar
$padding-top-content: 94px; // size from unvisible space ,because theres fixed navbar