#content {
    padding-top: $navbar-height;
}

#the-content{
    // Clearfix its self from unwanted float items
    &::after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: "";
        clear: both;
        height: 0;
    }

    // All Image Support
    & > img, & > p > img, & p > a > img, & > figure, & > figure > img {
        max-width: 100%;
        height: auto;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    & > p img {
        margin-top: 0;
    }
    img.aligncenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    img.alignright {
        float: right;
        margin: 0 0 20px 20px;
    }
    img.alignleft {
        float: left;
        margin: 0 20px 20px 0;
    }
    .gallery-native {
        margin-top: 40px;
        margin-bottom: 40px;
    }


    // Listing Support
    ul, ol {
        padding-left: 40px;
        li {
            margin-top: 10px;
        }
    }
    ul li { list-style: disc; }
    ol li { list-style: decimal; }


    // Text Support
    h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
    }
    h2 { font-size: 36px; }
    h3 { font-size: 28px; }
    h4 { font-size: 22px; }
    h5 { font-size: 18px; }
    h6 { font-size: 14px; }
    p {
        margin-bottom: 40px;
    }
    a {
        position: relative;
        color: inherit;
        font-weight: bold;
        outline: none;
        color: $a-accent;
        text-decoration: none;
        &:hover,&:focus {
            text-decoration: underline;
        }
    }
    

    // Blockquote
    blockquote {
        position: relative;
        padding: 20px 40px;
        padding-top: 60px;
        margin: 40px 0;
        border: 2px solid $black;
        &:after {
            position: absolute;
            @extend %fa-icon;
            @extend .fas;
            content: fa-content($fa-var-quote-right);
            padding: 0 20px;
            top: 0;
            left: 50%;
            font-size: 30px;
            transform: translate(-50%,-50%);
            background: $white;
        }
        & > *:nth-last-child(1){
            margin-bottom: 0px;
        }
    }
    

    & > *:nth-child(1){
        margin-top: 0!important;
    }
    & > *:nth-last-child(1){
        margin-bottom: 0px;
        & > *:nth-last-child(1){
            margin-bottom: 0px;
            & > *:nth-last-child(1){
                margin-bottom: 0px;
            }
        }
    }
}