#contact {
    
    .section.full-thumbnail {
        .bg-image {
            //display: none;
            &::after {
                background: mix($white, transparent, 90);
            }
        }
        .container {
            .content-set {
                .title-custom {
                    color: $green;
                    &::before {
                        background: $green;
                    }
                }
                .title {
                    text-shadow: 2px 2px 0 mix($black, transparent, 30);
                }
            }
        }
    }

    .section.section-contact {
        margin: 80px 0;
        .container > .row > div:nth-child(1){
            position: relative;
            .item {
                position: relative;
                padding: 40px 20px 40px 0;
                z-index: 2;
                .content-set .title {
                    color: $white;
                }
                .content-set .content {
                    color: mix($white, transparent, 50);
                    letter-spacing: .8px;
                    span {
                        color: $white;
                    }
                }
            }
            &::after {
                content: "";
                position: absolute;
                height: 100%;
                width: 100vw;
                top: 0;
                right: 0;
                background: $green; //mix($green, $black-footer, 70);
                @include media-breakpoint-down(xs){
                    right: auto;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
        .container > .row > div:nth-child(2){
            position: relative;
            display: flex;
            align-items: center;
            .row.contact {
                position: relative;
                width: 100%;
                margin: -10px 0;
                @include media-breakpoint-down(sm){
                    width: auto;
                    margin: 0 -10px;
                    margin-top: 40px;
                }
                & > div {
                    padding: 10px;
                    text-align: center;
                    letter-spacing: .6px;
                    .item {
                        height: 100%;
                        padding: 20px;
                        overflow-wrap: break-word;
                        transform: translateY(0);
                        box-shadow: 0 0 0 $white;
                        transition: $transition;
                        color: $black-footer;
                        background: mix($black-footer, $white, 20);
                        .icon {
                            font-size: 30px;
                            margin-bottom: 10px;
                        }
                    }
                    a:hover, a:focus {
                        .item {
                            transform: translateY(-10px);
                            box-shadow: 6px 6px mix($black-footer, transparent, 10);
                        }
                    }
                }
                & > .col-12:nth-child(odd) {
                    .item {
                        color: $white;
                        background: $black-footer;
                    }
                }
            }
        }
    }
}