#footer {
    position: relative;
    clear: both;
    color: $white;
    .top {
        position: relative;
        padding: 80px 0;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 2;
            opacity: .96;
            background: $black-footer;
        }
        .bg-image {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            opacity: .4;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .container {
            position: relative;
            z-index: 3;
            & > .row {
                & > .col-12 {
                    position: relative;
                    letter-spacing: .8px;
                    color: mix($white, transparent, 40);
                    a, span {
                        color: $white;
                    }
                    .content-set {
                        .title {
                            color: $white;
                        }
                    }
                    iframe {
                        height: 260px;
                        width: 100%!important;
                        @include media-breakpoint-down(md){
                            margin-top: 40px;
                        }
                    }
                    .schedule {
                        padding: 0 20px;
                        @include media-breakpoint-down(sm){
                            margin-top: 20px;
                            padding: 0;
                        }
                    }
                }
            }
        }
    }

    .bottom {
        padding: 36px 0;
        color: $white;
        background: $black-footer;
        .container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            letter-spacing: .8px;
            color: mix($white, transparent, 40);
            
            a { color: $white; }
            .left {
                a {
                    &::before {
                        content: "-";
                        margin: 0 6px;
                        color: mix($white, transparent, 40);
                    }
                }
            }
            @include media-breakpoint-down(sm){
                display: block;
            }
        }
    }                      
}