#homepage {
    word-wrap: break-word;
    .section-1 {
        background: $green;
        .row {
            @include media-breakpoint-down(md){
                flex-direction: column-reverse;
            }
            .bg-image {
                min-height: 200px;
                background-position: center 100%;
                background-repeat: no-repeat;
                background-size: contain;
            }
            .col-12:nth-last-child(1){
                min-height: 400px;
                padding: 80px 0;
                .title {
                    position: relative;
                    font-size: 80px;
                    color: $white;
                    text-shadow: 3px 3px #719018;
                }
                @include media-breakpoint-down(md){
                    padding-bottom: 0;
                }
            }
        }
    }

    .section.half-thumbnail {
        @include media-breakpoint-down(md){
            .bg-image {
                position: absolute;
                height: 100%;
                width: 100%;
                margin: 0;
                top: 0;
                left: 0;
                &:after {
                    @include overlay($white);
                }
            }
        }
    }

    .section-3 {
        overflow: hidden;
        margin: 80px 0;
        .container {
            .row {
                margin: 0 -20px;
            }
            .col-12 {
                padding: 20px;
                .item {
                    position: relative;
                    min-height: 600px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    overflow: hidden;
                    text-transform: uppercase;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    &::after {
                        position: absolute;
                        content: "";
                        top: 50%;
                        left: 50%;
                        height: 60px;
                        width: 60px;
                        opacity: 0;
                        transform: translate(-50%, -50%);
                        transition: $transition;
                        border-radius: 50%;
                        background: mix($black-footer, transparent, 60);
                    }
                    .text {
                        position: relative;
                        width: 100%;
                        z-index: 2;
                        line-height: 1.5;
                        letter-spacing: 1px;
                        font-weight: 900;
                        color: $white;
                        .subtitle {
                            font-weight: inherit;
                            font-size: 18px;
                            transition: $transition;
                        }
                        .title {
                            font-size: 56px;
                            letter-spacing: 2px;
                            transition: $transition;
                            transition-delay: 60ms;
                        }
                        @include media-breakpoint-down(xs){
                            .subtitle {
                                font-size: 14px;
                            }
                            .title {
                                font-size: 40px;
                            }
                        }
                    }
                }
                a:hover, a:focus {
                    .item {
                        &::after {
                            height: 900px;
                            width: 900px;
                            opacity: 1;
                        }
                        .text {
                            .title, .subtitle {
                                transform: translateY(-50px);
                            }
                        }
                    }
                }
            }
        }
    }

    .section-4 {
        padding: 80px 0 120px 0;
        @include media-breakpoint-down(xs){
            padding-bottom: 0;
        }
        .bg-section {
            position: absolute;
            top: 0;
            left: 50%;
            height: 100%;
            width: 50%;
            background-size: auto 100%;
            background-position: 0% 100%;
            background-repeat: no-repeat;
            @include media-breakpoint-down(sm){
                position: relative;
                height: 300px;
                width: 100%;
                left: 0;
                background-size: contain;
                background-position: 50% 100%;
            }
        }
        .container {
            & > .row {
                .wrapper {
                    position: relative;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    .bg-image {
                        position: absolute;
                        height: 100%;
                        width: 50vw;
                        right: 0px;
                        top: 0;
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        &::after {
                            content: "";
                            position: absolute;
                            height: 100%;
                            width: 100%;
                            opacity: .9;
                            background: $green;
                        }
                        @include media-breakpoint-down(sm){
                            width: 100vw;
                        }
                        @include media-breakpoint-down(xs){
                            right: calc( 50% ); // 5px = margin .row
                            transform: translateX(50%);
                        }
                    }
                    .item {
                        position: relative;
                        z-index: 2;
                        padding: 20px 0;
                        .col-6 {
                            padding: 16px 0;
                            a {
                                display: block;
                                padding: 6px 0;
                                text-transform: uppercase;
                                font-weight: 600;
                                font-size: 20px;
                                color: $white;
                                &::after {
                                    content: "";
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    height: 3px;
                                    width: 30px;
                                    max-width: calc(100% - 20px);
                                    transition: $transition;
                                    background: $white;
                                }
                                &:hover, &:focus {
                                    &::after {
                                        width: 150px;
                                    }
                                }
                            }
                        }
                        a.btn {
                            display: block;
                            margin: 20px auto 0 auto;
                        }
                    }
                }
            }
        }
    }

}