#landing {
    .section.half-thumbnail {
        padding: 80px 0;
        .bg-image {
            &:after {
                @include overlay($white);
            }
        }
        
        @include media-breakpoint-up(lg){
            .bg-image {
                width: calc(60% + 100px);
            }
        }
    }
}