#privacy {
    
    .section.full-thumbnail {
        .bg-image {
            display: none;
        }
        .container {
            .content-set {
                .title {
                    text-shadow: 2px 2px 0 mix($black, transparent, 30);
                }
                .title-custom {
                    margin-top: 20px;
                    color: $green;
                    &::before {
                        content: none;
                    }
                }
            }
        }
    }
}