@mixin animation-init($transition: false){
    @if not $transition {
        transition: $motion;
    } @else {
        transition: $motion, $transition;
    }
    opacity: 0;
    transform: translateY(200px);
}
@mixin animation-fire {
    opacity: 1;
    transform: translateY(0px);
}