@mixin button-style {
    width: fit-content;
    padding: 14px 40px;
    transition: $transition;
    outline: none;
    cursor: pointer;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .6px;
    border: none;
    border-radius: 0;
    box-shadow: 3px 3px 0px 0px mix($black, transparent, 20);
    color: $white;
    background: $green;
    &:hover, &:focus {
        box-shadow: 3px 3px 0px 0px mix($black, transparent, 20);
        outline: none;
        color: $white;
        background: $black;
    }
}
button, .btn {
    @include button-style();
    .icon {
        margin-left: 10px;
    }
    &.black {
        background: $black;
        &:hover, &:focus {
            box-shadow: 3px 3px 0px 0px mix($black, transparent, 20);
            outline: none;
            color: $white;
            background: mix($black, $white, 86);
        }
    }
    &.jumbo {
        font-size: 20px;
    }
}

/*
.btn-rounded {
    border-radius: 50%;
}

@mixin normalize-a(){
    font-weight: normal;
    text-decoration: none;
    outline: none;
    color: inherit;
    &:hover,&:focus {
        text-decoration: none;
    }
}

.menu-btn {
    display: inline-block;
    margin-top: 30px;
    background: rgba($black, .12);
}
*/