
    .content-set {
        & > *:nth-child(1){
            margin-top: 0px!important;
        }
        .title-custom {
            position: relative;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            font-weight: 900;
            font-size: 16px;
            letter-spacing: .6px;
            color: $green;
            &::before {
                content: "";
                position: relative;
                display: block;
                height: 3px;
                width: 32px;
                margin-right: 10px;
                background: $green;
            }
        }
        .title {
            position: relative;
            margin-top: 20px;
            margin-bottom: 0;
            text-transform: uppercase;
            font-size: 36px;
            font-weight: 900;
            line-height: 1;
            letter-spacing: 2px;
            color: $black;
        }
        .content {
            margin-top: 20px;
            .btn {
                display: block;
                margin-top: calc(20px + 30px);
            }
        }
        &.white {
            .title-custom {
                color: $black;
                &::before {
                    background: $black;
                }
            }
        }
        &.black {
            .title-custom {
                color: $white;
                &::before {
                    background: $white;
                }
            }
            .title {
                color: $white;
            }
        }
        &.centered {
            margin: auto;
            text-align: center;
            .title-custom {
                justify-content: center;
            }
            .content {
                .btn {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }