
        #the-content {
            .form-contact {
                .col-12:nth-child(1){
                    padding-right: 10px;
                }
                .col-12:nth-child(2){
                    padding-left: 10px;
                }
                @include media-breakpoint-down(md){
                    .col-12:nth-child(1){
                        padding-right: 0px;
                    }
                    .col-12:nth-child(2){
                        padding-left: 0px;
                    }
                }
                p {
                    margin: 0;
                    padding: 0;
                }
            }
            form{
                //width: 400px;
                max-width: 100%;
                justify-content: center;
                p {
                    padding: 0px;
                }
                .input {
                    position: relative;
                    width: 100%;
                    margin-top: 30px;
                    label {
                        position: absolute;
                        z-index: 2;
                        padding: 0 10px;
                        left: 20px;
                        top: 0;
                        font-weight: bold;
                        transform: translateY(-50%);
                        background: $white;
                    }
                    input[type="text"],input[type="number"],input[type="email"],input[type="tel"],input[type="date"],select,textarea{
                        width: 100%;
                        height: 50px;
                        padding: 0 30px;
                        border-radius: 0;
                        border: 1px solid $black;
                        background: transparent;
                    }
                    textarea {
                        height: 150px;
                        resize: none;
                        padding-top: 20px;
                        padding-bottom: 20px;
                    }

                    // Error text
                    .wpcf7-not-valid-tip {
                        font-size: 12px;
                        margin: 5px 0;
                        padding: 0 30px;
                        color: $a-error;
                    }
                }
                div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {   
                    position: relative;
                    padding: 10px 20px;
                    margin: 0;
                    text-align: center;
                    border: 0;
                    color: $white;
                    background: $a-error;
                    &::before {
                        position: absolute;
                        content: "";
                        height: 100%;
                        width: 4px;
                        top: 0;
                        left: 0;
                        background: $a-error;
                    }
                }
                .btn {
                    padding: 10px 30px;
                }
                div.wpcf7-response-output {
                    margin-bottom: 0;
                }
                .g-recaptcha {
                    margin-top: 20px;
                }
                & .input:nth-child(1) {
                    margin-top: 10px;
                }
            }
        }