.gallery-native {
	margin-left: -10px;
	margin-right: -10px;
	.column-img {
		padding: 10px;
	}
	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}

/*.gallery-images {
	width: 100%;
	//@extend .clearfix;
}

.gallery-image {
	position: relative;
	display: block;
	width: 16.66666666666667%;
	height: 260px;
	float: left;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	z-index: 1;

	&:hover {
		&::after {
			background-color: transparent;
		}
	}

	&::after {
		//@include absolute(0,0,0,0);
		display: inline-block;
		content: '';
		background-color: rgba($black, .7);
 		transition: $transition;
		z-index: -1;
	}
}

#swipebox-overlay {
	background: rgba($black, .8);
}

#swipebox-bottom-bar, #swipebox-top-bar {
	background: $black;
}

#swipebox-prev, 
#swipebox-next, 
#swipebox-close {
	background-image: url(images/icons.svg);
}


.gallery-native {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;

	a {
		display: block;
		//width: 100%;
		height: 120px;
		float: left;

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
		

		&.gallery-columns-2 {
			width: 50%;
			height: 220px;
		}

		&.gallery-columns-3 {
			width: 33.33%;
			height: 200px;
		}

		&.gallery-columns-4 {
			width: 25%;
			height: 180px;
		}

		&.gallery-columns-5 {
			width: 20%;
			height: 150px;
		}

		&.gallery-columns-6 {
			width: 16.66%;
			height: 120px;
		}

		&.gallery-columns-7 {
			width: 14.28%;
			height: 90px;
		}

		&.gallery-columns-8 {
			width: 12.5%;
			height: 70px;
		}

		&.gallery-columns-9 {
			width: 11.11%;
			height: 60px;
		}

		@include media-breakpoint-down(xs){
			width: 50%!important;
		}
	}
}


.widget {
	#gallery-native {
		display: inline-block;
		text-align: center;
		vertical-align: top;
		width: 100%;

		a {
			display: block;
			width: 100%;
			float: left;

		}

		a.gallery-columns-2 {
			width: 50%;
			height: 120px;
		}

		a.gallery-columns-3 {
			width: 33.33%;
			height: 100px;
		}

		a.gallery-columns-4 {
			width: 25%;
			height: 80px;
		}

		a.gallery-columns-5 {
			width: 20%;
			height: 70px;
		}

		a.gallery-columns-6 {
			width: 16.66%;
			height: 60px;
		}

		a.gallery-columns-7 {
			width: 14.28%;
			height: 50px;
		}

		a.gallery-columns-8 {
			width: 12.5%;
			height: 40px;
		}

		a.gallery-columns-9 {
			width: 11.11%;
			height: 40px;
		}
	}
}
*/