/* Navigation */
.navbar {
    padding: 0px;
    margin: 0;
    display: block;

    .top {
        color: $white;
        background: $black;
        .container {
            height: 34px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 12px;
            letter-spacing: 1px;
            .icon {
                margin-right: 10px;
            }
            .right .icon {
                transform: rotate(90deg);
            }
            .hide {
                @include media-breakpoint-down(xs){
                    display: none;
                }
            }
        }
    }

    .bottom {
        position: relative;
        background: $white;
        .container {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            .left-side {
                position: relative;
                height: 80px;
                display: flex;
                align-items: center;
                a {
                    height: 70%;
                    img {
                        height: 100%;
                        width: auto;
                    }
                }
            }
    
            .navbar-toggler {
                height: 50px;
                width: 50px;
                color: inherit;
                border-radius: 50%;
                box-shadow: none;
                color: $black;
                &:hover,&:focus {
                    background: mix($black, transparent, 10);
                }
            }
    
            .divider {
                position: relative;
                height: 30px;
                width: 1px;
                margin: 0 30px;
                background: mix($black, transparent, 20);
            }

            .facebook-button {
                height: 50px;
                width: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                &:hover, &:focus {
                    background: mix($black, transparent, 10);
                }
            }

            .facebook-small {
                @include media-breakpoint-up(xl){
                    display: none;
                }
                @include media-breakpoint-down(sm){
                    &.divider {
                        margin: 0 10px;
                    }
                }
            }

            .facebook-large {
                @include media-breakpoint-down(lg){
                    display: none;
                }
            }

            .right-side-collapse {
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }

            /* All the Menu list */
            .right-side {
                justify-content: flex-end;
    
                ul.navbar-nav {
                    @include media-breakpoint-down(lg){
                        padding-bottom: 40px;
                    }
                    li {
                        a {
                            position: relative;
                            width: fit-content;
                            display: block;
                            padding: 6px 12px;
                            font-weight: 800;
                            transition: $transition-2;
                            color: $black;
                            border-radius: 50px;
                            &:hover,&:focus {
                                color: $green;
                            }
                        }
                        &.active > a {
                            color: $green;
                        }
                    }
                    & > li > a {
                        margin: 0 16px;
                        padding: 6px 0;
                    }
                    li:nth-last-child(1){
                        a {
                            margin-right: 0px;
                        }
                    }
                }
                ul.dropdown-menu {
                    padding: 0;
                    overflow: hidden;
                    li {
                        a {
                            width: 100%;
                            border-radius: 0;
                        }
                    }
                }
            }
        }
    }

    // White Mode
    &.white {
        color: $black;
        background: $white;
        
        .container.bottom .navbar-toggler {
            color: $black;
        }

        .container.bottom .right-side ul.navbar-nav li a {
            color: $black;
            &::after {
                background: $black;
            }
        }
    }
    
    // Hidden Nav
    @include media-breakpoint-down(lg){
        .container.bottom .right-side ul.navbar-nav {
            width: fit-content;
            margin-right: 0;
            margin-left: auto;
            background: $white;
            li a {
                color: $black;
                &::after {
                    background: $black;
                }
            }
        }
    }

} /* END : Navigation*/

#wpadminbar {
    display: none;
}