@mixin overlay($color: $green, $weight: 80) {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: mix($color, transparent, $weight);
}