
            .post-navigation {
                position: relative;
                width: 100%;
                left: 50%;
                padding: 40px 0;
                margin-top: 30px;
                text-align: center;
                transform: translateX(-50%);
                color: $black;
                background: mix($black, transparent, 10);
                &.wide { display: none; }
                @media screen and (min-width: 500px) {
                    &.mobile { display: none; }
                    &.wide { display: block; }
                }
                .info {
                    font-size: 14px;
                    opacity: .6;
                }
                .all-page-number {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-top: 10px;
                    .page-numbers {
                        position: relative;
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        display: block;
                        flex-shrink: 0;
                        text-align: center;
                        border-radius: 50px;
                        color: mix($black, transparent, 60);
                        @include media-breakpoint-down(sm){
                            width: 30px;
                        }
                        &.current {
                            margin: 0 10px;
                            color: $white;
                            background: $black;
                        }
                        &.dots,&.next,&.prev {
                            &::before {content: none;}
                        }
                    }
                    a.page-numbers {
                        transition: $transition-2;
                        &:hover, &:focus {
                            color: $black;
                        }
                    }
                    a.page-numbers.next,a.page-numbers.prev {
                        width: fit-content;
                        padding: 0 20px;
                        margin-left: 10px;
                        border-radius: 0px;
                        &:hover, &:focus {
                            background: transparent;
                        }
                    }
                    a.page-numbers.prev {
                        margin-left: unset;
                        margin-right: 10px;
                    }
                }
            }

            .single-navigation {
                position: relative;
                width: 100%;
                margin-top: 30px;
                text-align: center;
                color: $black;
                background: mix($black, transparent, 10);
                &::after {
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 50%;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    background: mix($black, transparent, 6);
                }
                .container {
                    position: relative;
                    z-index: 3;
                    justify-content: space-between;
                    & > a {
                        position: relative;
                        max-width: 50%;
                        word-break: break-all;
                        padding: 40px 10px;
                        display: block;
                        & > div:nth-child(1){
                            font-size: 14px;
                            @include media-breakpoint-down(sm){
                                font-size: 12px;
                            }
                        }
                        & > div:nth-child(2){
                            font-size: 18px;
                            @include media-breakpoint-down(sm){
                                font-size: 16px;
                            }
                        }
                    }
                    .left {
                        text-align: left;
                        float: left;
                    }
                    .right  {
                        text-align: right;
                        float: right;
                    }
                    // Clearfix
                    &::after {
                        visibility: hidden;
                        display: block;
                        font-size: 0;
                        content: " ";
                        clear: both;
                        height: 0;
                    }
                }
            }