    .section.full-thumbnail {
        min-height: 300px;
        padding: 80px 0;
        display: flex;
        align-items: center;
        word-break: break-all;
        .bg-image {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            &:after {
                @include overlay($green, 90);
            }
        }
        .container.container-content {
            position: relative;
            z-index: 2;
            justify-content: center;
            text-align: center;
            .title-custom {
                justify-content: center;
                color: $white;
                &::before {
                    background: $white;
                }
            }
            .title {
                text-shadow: 2px 2px 0 mix($white, transparent, 50);
            }
            .content {
                width: 600px;
                max-width: 100%;
                margin-left: auto;
                margin-right: auto;
                .btn {
                    display: block;
                    margin-top: calc(20px + 30px);
                }
                @include media-breakpoint-down(sm){
                    padding-top: 0;
                    padding-left: 0;
                }
            }
        }
        &.black {
            .bg-image {
                &:after {
                    background: mix($black-footer, transparent, 80);
                }
            }
            .container.container-content .content-set {
                .title-custom,.title {
                    color: $white;
                    &::after {
                        background: $white;
                    }
                }
                .title {
                    text-shadow: 2px 2px 0 mix($white, transparent, 10);
                }
            }
        }
    }

    .section.half-thumbnail {
        min-height: 300px;
        padding: 80px 0;
        word-break: break-word;
        display: flex;
        align-items: center;
        .bg-image {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: calc(50% + 100px);
            margin: 0;
            padding: 0;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            @include media-breakpoint-down(md){
                width: 100%;
            }
        }
        .container.container-content {
            position: relative;
            z-index: 2;
            .content {
                width: 600px;
                max-width: 100%;
                padding-top: 20px;
                @include media-breakpoint-down(sm){
                    padding-top: 0;
                }
            }
        }
    }

    .section.no-thumbnail {
        background: $white-2;
        .bg-image {
            display: none;
        }
        .container {
            .content-set {
                .title-custom {
                    color: $green;
                    &::before {
                        background: $green;
                    }
                }
                .title {
                    text-shadow: 2px 2px 0 mix($black, transparent, 30);
                }
            }
        }
    }

    .section-the-content {
        margin: 80px 0;
    }

    .section.box-list {
        margin: 80px 0;
        .row {
            width: auto;
            justify-content: center;
            margin: 0 -10px;
            .col-12 {
                padding: 10px;
                .item {
                    position: relative;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    padding: 40px 30px;
                    transition: $transition;
                    transform: translateY(0);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    &::after {
                        @include overlay($black-footer, 90);
                    }
                    .content-set {
                        position: relative;
                        z-index: 3;
                        .title {
                            font-size: 24px;
                            color: $green;
                        }
                        .content {
                            color: $white;
                        }
                    }
                }
                a:hover, a:focus {
                    .item {
                        transform: translateY(-10px);
                    }
                }
            }
        }
        &.with-shadow {
            .row .col-12 {
                .item{
                    box-shadow: 4px 4px 0 0 mix($black-footer, transparent, 16);
                }
                a:hover, a:focus {
                    .item {
                        box-shadow: 4px 8px 0 0 mix($black-footer, transparent, 16);
                    }
                }
            }
        }
    }

    .section.price-button {
        background: $white-2;
        .container {
            .wrapper {
                padding: 80px 40px;
                .content-set {
                    width: 600px;
                    max-width: 100%;
                }
            }
        }
    }

    .section.price-box {
        overflow: hidden;
        margin: 80px 0;
        .container {
            .row {
                margin: 0 -20px;
                .col-12 {
                    padding: 20px;
                    .item {
                        overflow: hidden;
                        .photo {
                            height: 240px;
                            display: flex;
                            align-items: center;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: cover;
                        }
                        .prices {
                            font-size: 16px;
                            & > div {
                                display: flex;
                                justify-content: space-between;
                                padding: 14px 20px;
                                &:nth-child(odd){
                                    background: mix($black-footer, transparent, 6);
                                }
                                &:nth-child(even){
                                    background: mix($black-footer, transparent, 2);
                                }
                                .service-name {
                                    padding-right: 20px;
                                }
                                .price {
                                    width: 120px;
                                    max-width: 50%;
                                    display: flex;
                                    align-items: center;
                                    font-weight: 900;
                                    font-size: 18px;
                                    color: $green;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .section.full-gmaps {
        position: relative;
        .content-set {
            margin-bottom: 40px;
        }
        .wrapper {
            position: relative;
            height: 500px;
            iframe {
                height: 100%;
                width: 100%;
            }
        }
    }

    .section.full-gallery {
        overflow: hidden;
        .gallery-native {
            margin: 0px;
            .column-img {
                overflow: hidden;
                padding: 0;
                a img {
                    transition: $transition;
                    transform: scale(1);
                    &:hover, &:focus {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
    